@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: green;
}
  
.sidenav-buttons {
    width:100%; 
    height: 50px;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }