<mat-toolbar color="primary">
  <span>Mrs. Schaaf's Library</span>
</mat-toolbar>
<mat-drawer-container style="height: 100%;">
  <mat-drawer mode="side" style="width: 100px; background-color: lightgray;" opened>
    <a mat-button [routerLink]="'/library'" class="sidenav-buttons"> Books </a>
    <a mat-button [routerLink]="'/students'" class="sidenav-buttons"> Students </a>
    <a mat-button [routerLink]="'/test'" class="sidenav-buttons"> Add a book </a>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>